/* Class for the homepage background */
.homepage-background {
    background-image: url('/images/food.jpg'); /* Adjust path as necessary */
    background-size: cover; /* Ensure the image covers the section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the image fixed during scroll */
    height: 100vh; /* Set height to full viewport height */
    width: 100%; /* Full width */
    display: flex; /* Flexbox for content alignment */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.blurred-overlay {
    position: absolute; /* Position absolute for overlay */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.247); /* White with some transparency */
    backdrop-filter: blur(0.5px); /* Adjust the blur amount */
    z-index: 1; /* Ensure overlay is on top */
}

/* General styles for homepage */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
}

/* Header styling */
header {
    background-color: #ffffff; 
    border-bottom: 1px solid #e0e0e0; 
}

header h1 {
    font-family: 'Arial', sans-serif;
    color: #ff6f00; 
    margin: 0;
}

/* Custom margin for specific elements */
.custom-margin {
    margin-top: 2rem; 
}

/* Custom styles for homepage */
.custom-heading .part-1 {
    font-family: 'Britannic Bold', sans-serif;
    color: #282625; 
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.custom-heading .part-2 {
    font-family: 'Britannic Bold', sans-serif;
    color: #2E8B57; 
    font-size: 4.5rem;
    margin-top: 0.5rem;
}

.custom-text {
    font-family: 'Arial', sans-serif; 
    font-size: 1.3rem; 
     margin-bottom: 1.5rem;
}

.bold-text {
    font-weight: bold; 
}

.custom-link {
    font-family: 'Arial', sans-serif;
    color: #007bff;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline; 
}

/* Main content styling */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/* Footer styling */
footer {
    background-color: #ffffff; 
    border-top: 1px solid #e0e0e0; 
    padding: 10px 0;
    color: #6c757d; 
    font-size: 0.875rem; 
}
